<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="caster_left_wheel">
    <xacro:macro name="caster_left_wheel" params="prefix reflect reflect_x">
        <link name="${prefix}_caster_left_wheel">
            <visual>
                <origin rpy="0 0 1.57" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://sdv2_description/meshes/caster_wheel/caster_left_wheel.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="red"/>
            </visual>

            <collision>
                <origin rpy="0 0 1.57" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://sdv2_description/meshes/caster_wheel/caster_left_wheel.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
            <inertial>
                <origin rpy="0 0 0" xyz="-1.1048826851212112e-05 2.7324836014558374e-05 1.4354974448016478e-06"/>
                <mass value="0.9318790259982154"/>
                <inertia ixx="0.000442" ixy="-0.0" ixz="0.0" iyy="0.000751" iyz="0.0" izz="0.000442"/>
            </inertial>
        </link>

        <joint name="${prefix}_caster_left_wheel_joint" type="continuous">
            <origin rpy="0 0 0" xyz="0.045 0.0025 -0.0575"/>
            <parent link="${prefix}_wheel_holder"/>
            <child link="${prefix}_caster_left_wheel"/>
            <axis xyz="0.0 1.0 0.0"/>
        </joint>
    </xacro:macro>
</robot>