<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_laser">
    <xacro:property name="laser_joint_origin_x" value="0.514"/>
    <xacro:property name="laser_joint_origin_y" value="0.3025"/>
    <xacro:property name="laser_joint_origin_z" value="0.06993"/>

    <xacro:macro name="sicknanoscan" params="reflect prefix reflect_yaw">
        <link name="${prefix}_sicknanoscan">
            <visual>
                <origin rpy="1.57 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://diffamr2_description/meshes/accessories/sicknanoscan.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <origin rpy="1.57 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://diffamr2_description/meshes/accessories/sicknanoscan.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>

            <xacro:if value="${prefix == 'front'}">
                <inertial>
                    <origin rpy="0 0 0" xyz="6.470499335109459e-06 7.27762149984601e-05 0.03356018043589451"/>
                    <mass value="0.6754806778737142"/>
                    <inertia ixx="0.000805" ixy="1e-06" ixz="-2e-06" iyy="0.000808" iyz="-1e-06" izz="0.000923"/>
                </inertial>
            </xacro:if>

            <xacro:if value="${prefix == 'rear'}">
                <inertial>
                    <origin rpy="0 0 0" xyz="-6.470499335220481e-06 -7.277621536710965e-05 0.033560180435894524"/>
                    <mass value="0.6754806778737142"/>
                    <inertia ixx="0.000805" ixy="1e-06" ixz="2e-06" iyy="0.000808" iyz="1e-06" izz="0.000923"/>
                </inertial>
            </xacro:if>

        </link>

        <joint name="${prefix}_sicknanoscan_joint" type="fixed">
            <!-- <origin xyz="${laser_joint_origin_x*reflect} ${laser_joint_origin_y*reflect} ${laser_joint_origin_z}" rpy="0 0 ${reflect_yaw*3.14}"/> -->
            <origin xyz="${laser_joint_origin_x*reflect} ${laser_joint_origin_y*reflect} ${laser_joint_origin_z}" rpy="0 0 ${reflect_yaw+0.785398}"/>
            <parent link="base_link"/>
            <child link="${prefix}_sicknanoscan"/>
        </joint>
    </xacro:macro>
</robot>
