<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_camera">
    <xacro:property name="camera_origin_x" value="-0.5145"/>
    <xacro:property name="camera_origin_y" value="0"/>
    <xacro:property name="camera_origin_z" value="0.08376"/>

    <xacro:macro name="t265">
        <link name="t265">
            <visual>
                <origin xyz="0 0 0" rpy="-1.57 0 1.57"/>
                <geometry>
                    <mesh filename="package://diffamr2_description/meshes/accessories/T265.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <origin  xyz="0 0 0" rpy="-1.57 0 1.57"/>
                <geometry>
                   <mesh filename="package://diffamr2_description/meshes/accessories/T265.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
            <inertial>
                <origin rpy="0 0 0" xyz="6.3413686398616775e-06 0.009746205656542904 -4.43297516607849e-05"/>
                <mass value="0.07913009022887288"/>
                <inertia ixx="8.3e-05" ixy="0.0" ixz="0.0" iyy="6e-06" iyz="0.0" izz="7.9e-05"/>
            </inertial>
        </link>


        <joint name="t265_joint" type="fixed">
            <origin xyz="${camera_origin_x} 0 ${camera_origin_z}" rpy="0 0 3.14"/>
            <parent link="base_link"/>
            <child link="t265"/>
        </joint>

    </xacro:macro>

</robot>
