<?xml version="1.0"?>

<model>
  <name>plot_factory_station1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Gizem Coban</name>
    <email>gzmnursena@hotmail.com</email>
  </author>

  <description>
    A model of a plot factory station.
  </description>

</model>
